:root {
  --flip-container-height: 350px;
}

* {
  box-sizing: border-box;
}

body {
  margin    : 0px;
  padding   : 0px;
  overflow-x: hidden;
}

img {
  width          : 100%;
  height         : var(--flip-container-height);
  object-fit     : cover;
  object-position: 0px 11%;
}

h2 {
  font-size : 14px;
  text-align: left;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color          : black;
}

a:hover {
  text-decoration: underline;
}

#root {
  display       : flex;
  flex-direction: row;
  flex-flow     : row wrap;
  overflow      : hidden;
  border        : solid 3px #f1bf3c;
  box-sizing    : border-box;
}

/* entire container, keeps perspective */
.flip-container {
  perspective     : 1000px;
  width           : 25%;
  height          : var(--flip-container-height);
  cursor          : pointer;
  /* border-radius: 13px; */
  /* overflow     : hidden; */
}

/* flip the pane when hovered */


.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
  .flip-container:hover .flipper {
    transform: unset;
  }

  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
}

.flip-container,
.front,
.back {
  /*! width: 25%; */
  /*! height: 480px; */
}

/* flip speed goes here */
.flipper {
  transition      : 0.6s;
  transform-style : preserve-3d;
  position        : relative;
  height          : 100%;
  transform       : rotateY(0deg);
  /* border-radius: 8px; */
}

/* hide back of pane during swap */
.front,
.back {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0px;
  padding : 15px;
  height  : var(--flip-container-height);
}

/* front pane, placed above back */
.front {
  z-index                    : 2;
  /* for firefox 31 */
  transform                  : rotateY(0deg);
  padding                    : 0px;
  /*! margin                 : 20px; */
  -webkit-perspective        : 0;
  -webkit-backface-visibility: hidden;
  backface-visibility        : hidden;
  overflow                   : hidden;
}

.front>div {
  position        : absolute;
  bottom          : 0px;
  background-image: linear-gradient(to top, #182743 0%, #48556329 100%);
  color           : white;
  padding         : 0px 20px;
  left            : 0px;
  right           : 0px;
}

.front>div p {
  text-align: right;
  font-size : 13px;
}

/* back, initially hidden pane */
.back {
  transform       : rotateY(180deg);
  background-color: #2e4053;
  color           : white;
  /* overflow     : auto; */
  font-size       : 0.9em;
  display         : grid;
  z-index         : 1;
}

.flip-container>p {
  position: absolute;
  bottom  : 0px;
  width   : 70%;
  margin  : auto !important;
  display : block;
}

.back p {
  text-align   : left;
  overflow-y   : auto;
  padding-right: 7px;
  overflow-x   : hidden;
}

.back a {
  /* position: absolute; */
  /* bottom: -20px; */
  /* right: 0px; */
  color     : #f1bf3c;
  text-align: right;
  display   : initial;
  float     : right;
}

.with-title>.flip-container:first-child {
  width          : 50%;
  display        : grid;
  align-items    : center;
  justify-content: center;
  align-content  : center;
  grid-row-gap   : 3%;
  padding        : 0px 0%;
}

.with-title>.flip-container:first-child * {
  text-align: center;
  margin    : 0px;
  position  : relative;
}

@media only screen and (max-width: 1000px) {
  .flip-container {
    width  : 33.3%;
    padding: 0.5%;
    margin : 0.5% 0;
  }

  .with-title>.flip-container:first-child {
    width: 66.6%;
  }
}

@media only screen and (max-width: 600px) {
  .flip-container {
    width: 100%;
  }

  .with-title>.flip-container:first-child {
    padding: 0px 4%;
  }

  img {
    object-position: 0px 13%;
  }
}

/* width */
p::-webkit-scrollbar {
  width: 5px;
}

/* Track */
p::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
p::-webkit-scrollbar-thumb {
  background: #f1bf3c;
}

/* Handle on hover */
p::-webkit-scrollbar-thumb:hover {
  /* background: #555;  */
}
